@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #002b36;
}
